<app-security-navbar></app-security-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Employee Id</label>
                    <input type="text" name="empId" [(ngModel)]="empId"  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Time Of Entry</label>
                    <input type="text" name="entryTime" [(ngModel)]="entryTime"  class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Time Of Exit</label>
                    <input type="text" name="exitTime" [(ngModel)]="exitTime"  class="form-control">
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="Reg()" class="btn btn-primary">Log in</button>
                </div>
            </div>


        </div>
    </div>
</div>