<app-employee-navbar></app-employee-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <div class="row g-3">

                <div *ngFor="let i of userData" class="col col-12 col-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <div class="card-body">

                            <p class="card-text" >From: {{i.leaveFrom}}</p>
                            <p class="card-text" >To : {{i.leaveTo}}</p>
                          <p class="card-text" >Reason: {{i.reason}}</p>
                          <p class="card-text" >Status : {{i.status}}</p>
                          <p class="card-text" >Catagory : {{i.catagory}}</p>


                        </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</div>