
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NeST Digital Application</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/securityHome">Home</a>
                </li>
                           
                <li class="nav-item">
                    <a class="nav-link" routerLink="/visitor">Visitor Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/employeeEntrySecurity">Employee Entry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/viewallVisitors">View All Visitors</a>
                </li>
             
            </ul>
            <form class="d-flex" role="search">
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
              <button class="btn btn-outline-success" routerLink="/securitylogin">Log Out</button>
            </form>
          </div>
        </div>
      </nav>